body{
    background-color: #f4f5f7;
}

h1{
    font-weight: bold;
    color:#4d4d4d;
    font-size: 52px;
}

input{
    width:100%;
    border:none;
    border-bottom: 1px solid grey;
    margin-bottom: 10%;
    padding-bottom: 1%;
    font-size: 18px;
}

form p{
    text-align: left;
    color: #a3a3a3;
}

input:focus{
    outline: none;
}

label{
    font-weight: bold;
    color:#4d4d4d
}

.form{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20%;
}

.select{
    width:400px;
    font-size: 18px;
    padding: 5% 0%;
    margin-bottom: 10%;
    border: 1px solid black;
    border-radius: 0px;
}

select:focus{
    outline:none;
}

textarea{
    width:100%;
    height: 300px;
    outline: none;
}


.form-container{
    display: inline-block;
    justify-content: center;
    width: 100%;

}


.form-header{
    text-align: center;
    width:100%
}

.form-items{
    display: inline-block;
    justify-content: center;
    width:100%;
    padding: 15%;
    background-color: white;
    border:0.5px solid #B3B3B3;
}

button{
    font-size: 18px;
    padding: 2% 4% 2% 4%;
    margin-top: 3%;
    width: 100%;
    background-color: #21ce99;
    color: white;
    font-weight: bold;
    outline: none;
    border:none;
}


textarea#styled {
	width: 100%;
	height: 300px !important;
	border: 3px solid #cccccc;
	padding-bottom: 5%;
	font-family: Tahoma, sans-serif;
}
