.navbar{
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    border: 1px solid black;
}
.navbar ul{
    width: 100%;
    justify-content: flex-end;
    text-decoration: none;
    border: 1px solid black;   
}
.navbar h1{
    display: flex;
    justify-content: flex-start;
    display:inline;
    border: 1px solid yellow;   
}
.navbar li{
    justify-content: flex-end;
    padding:0% 5% 0% 5%;
    display:inline;
    border: 3px solid green;
    margin-top: 1%;

}
.navbar a{
    display:inline-block;
    justify-content: space-between;    
    border: 2px solid pink;   
}
.logo {
    width: 100%;
    display:inline;
    display: flex;
    float: left;
    border: 2px solid orange;
    margin-top: 1%;


}
.navContent {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
    float: right;
    border: 1px solid blueviolet;

    
}
