.navbar ul{
    width: 100%;
    justify-content: flex-end;
    text-decoration: none;

}
.navbar li{
    cursor: pointer;
    padding-top: 2%;
    justify-content: flex-end;
    display:inline;
}

.float-right{
    width: 15%;
    float: right;
}

.navbar a{
    /* margin: 5%; */
    /* padding: 5%; */
    cursor: pointer;
    display:inline-block;
    justify-content: space-between;
    text-decoration: none;
    margin: 1%}

/* a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black } */

.logo{
    width: 100%;
    padding-top: 1% !important;
    display:inline;
    display: flex;
    float: left;
}

.logo-image{
    width:100px !important;
    float: left;
    align-items: center;
}
.navContent {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0%;
}
.main-content{
    padding-top: 100px;
    margin-left: 2%;
}
h1{
    margin-left: 2%;
}
p{
    margin-left: 4%;
}


/* .navbar h1{
    display: flex;
    justify-content: flex-start;
    display:inline;
    border: 1px solid yellow;
} */

/* .navbar{
    list-style:none;
    margin:0;
    padding:5%;
    width:100%;
    border: 2px solid blue;
} */
