


.list-profile{
    padding: 3%;
    display: flex;
    background:white;
    margin-bottom: 1%;
    min-height: 200px;
    border: 1px solid #B3B3B3;
    }


h2, h4{
    font-weight: lighter;
    }


.langauge{
    padding: 0 2%;
    height: 50px;
    display: inline-block;
    background-color: #e8e8e8;
    }


.location-icon{
    height: 30px;
    }

.profile{

    width:10%;
    margin-right: 5%;
    position: absolute;
}



.ul{
    margin-right: 15%;
    margin-left: 15%;
    list-style-type: none;
    }

.profile-button{
    width: 200px;
    height: 50px;
    float: right;
    padding: 0% !important;
    margin: 1% !important
}

.margin-right{
    margin-right:20%;
    }


.profile-sub-info{
    display: inline-flex;
    width:100%;
    padding-top: 10%;
    /* border:1px solid black; */
    }

.profile-sub-info h3{
    justify-content: center;
    width:50%;
    display:inline-flex;
    /* border:1px solid black; */
    }

.profile-header-info{
    width:100%;
    display:inline-flex;
    justify-content: space-between;
    /* border:1px solid black; */
    }

.profile-header-info button{
    justify-content: flex-end;
    }

.profile-header-info h1{
    align-items: center;
    justify-content: flex-start;
    }

button:hover {
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.close{
    background-color: white;
    color: red;
    font-size: 42px;
    justify-content: flex-end;
    padding-right: 0% !important;
}

.bigAvatar{
  margin: 10;
  width: 300;
  height: 300;
}

.left-container{
    width:100%;
}

.sub{
    display: flex;
    width: 100%;
    display: inline-flex;
    border: 2px solid black;
    justify-content: center;
}

.padding-bottom{
    padding-bottom: 10%;
}

.margin-bottom{
    margin-bottom: 10%;
}

.sub h3{

    display: inline-block;
    width: 100%;
    border: 2px solid black;
    justify-content: center;
    padding-bottom: 10%;
}

.profile-sub{
    width:100%;
    display: inline-block;
    justify-content: center;
}

.sub-description{
    display: inline-block;
    padding-bottom: 10%;
    justify-content: center;
}

h4{
    font-size:21px;
}

.edit-button{
    background-color: Transparent;
    border: 2px solid orange;
    color: orange;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    float: right;
    padding: 0% !important;
    margin: 1% !important
}

.delete-button{
    background-color: red;

    border-radius: 50px;
    width: 200px;
    height: 50px;
    float: right;
    padding: 0% !important;
    margin: 1% !important
}
