.list-profile{
    border: 2px solid black;
    background:white;
    margin-bottom: 2%;
    min-height: 200px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;

}

h2, h4{
    font-weight: lighter;
}

.langauge{
    display: inline-block;
    margin-top: -1%;
    background-color: #e8e8e8;
    padding: 0.5%;
}

.profile{
    width:100px;
    top:25%;
    margin-right: 5%;
    position: relative;
}


/* ul{
    list-style-type: none;
    margin-right: 15%;
    margin-left: 5%;
} */

.view-profile-button{
    width: 200px;
    padding: 1%;
    float: right;
    margin-bottom: 2%;
}

.margin-right{
    margin-right:5%;
}
